@import "~bootstrap/dist/css/bootstrap.min.css";

#boton {
  background: blue;
  width: 8rem;
  justify-content: center;
  border-radius: 10px;
  color: white;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
